<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			${hibernate-dialect}
		</property>

		<property name="hibernate.show_sql">
			${hibernate-show-sql}
		</property>

		<property name="hibernate.cache.region.factory_class">
			${hibernate-cache-provider}
		</property>

		<property name="hibernate.cache.use_second_level_cache">
			true
		</property>

		<property name="hibernate.cache.use_query_cache">
			true
		</property>
		
		<mapping class="com.exercise9.core.model.Employee"/>
		<mapping class="com.exercise9.core.model.Address"/>
		<mapping class="com.exercise9.core.model.Roles"/>
		<mapping class="com.exercise9.core.model.ContactInfo"/>
		<mapping class="com.exercise9.core.model.Name"/>
	</session-factory>
</hibernate-configuration>